REST-api/src/main/xsd/shema-for-jaxb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="tests">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="test" type="Test" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Test">
        <xs:sequence>
            <xs:element name="test-name" type="xs:string"/>
            <xs:element name="variant" type="xs:string"/>
            <xs:element name="correct-answer" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>